<template x-if='accessToken'>
  <div class='sidebar p-4 bg-gray-50 border-r border-gray-200 overflow-y-auto'>
    <h2 class='text-xl font-bold mb-4'>Rooms</h2>
    <ul class='room-list space-y-1'>
      <template x-for='room in rooms' :key='room.roomId'>
        <li @click='switchRoom(room.roomId)' :class='{ \"active\": room.roomId === roomId }' class='cursor-pointer p-2 rounded'>
          <span x-text='room.name || room.roomId'></span>
        </li>
      </template>
    </ul>
    <div class='mt-4'>
      <input x-model='newRoomName' placeholder='New room name' class='border p-2 w-full mb-2 rounded'>
      <input x-model='inviteUser' placeholder='Invite (optional)' class='border p-2 w-full mb-2 rounded'>
      <button @click='createRoom()' class='bg-indigo-500 text-white p-2 w-full rounded hover:bg-indigo-600 transition'>Create Room</button>
      <p x-show='newRoomId' class='text-sm text-gray-600 mt-1'>Room ID: <span x-text='newRoomId'></span></p>
    </div>
  </div>
</template>
